.homes{
    /* background-image: url("https://pa1.narvii.com/6641/6cc9a7abf1c43476a93a1f60bc0653cd0d7109a7_hq.gif"); */
    color: white;
    text-shadow: 11px 4px 10px rgb(0, 0, 0);
    font-weight:lighter;
    justify-content: center;
}
.home{
    font-size:100px;
    color: rgb(255, 93, 93);
    text-shadow: 11px 4px 10px rgb(0, 0, 0);
    font-weight:lighter;
    font-family:'Bangers', cursive
    
}
.paginado{
    padding:5px;
    justify-content:space-between;
}
.button{
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 2px 10px 2px;
    outline: 0;
    border: .5px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: rgba(245, 245, 245, 0.521);

}
.barra{
    display: flex;
justify-content: space-around;
width: 40%;
margin:auto;
padding: 10px;
}
.button:after {
    border-radius: 10px;
    content: "";
    background-color: #ffffff75;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 3px;
    left: 5px;
  }
  .filtros{
       font-size:20px;
    font-weight:lighter;
    border-radius:10px;
    font-family:'Bangers', cursive;
    margin:5px;
  }
